<div id="body" ng-controller="LoginController">

    <h1>Whiskey Club!</h1>

    <div class="row">
        <div class="offset3 span4">
            <button class="btn">Login</button>
      
            <button class="btn">Register</button>
        </div>
    </div>
</div>
